{% extends 'base.html' %}

{% block title %}«Майстерня карамелі»{% endblock %}
{% block content %}

    
        <div class="mt-4 rounded-3 bg-body-tertiary p-4">
          <h3>«Майстерня карамелі» – це унікальна мережа кондитерських виробів.
            Чудові смакові якості нашої продукції відзначено Асоціацією ласунів Україні, а завдяки використанню натуральних інгредієнтів, наша карамель отримала схвалення від Спілки турботливих матусь!
            
            Нашим кондитерам вдалося перетворити приготування карамелі на справжнє шоу, яке щодня відбувається на очах гостей «Майстерні карамелі».
            
            А, взагалі, «Майстерня карамелі» – воістину унікальне місце! Хочете дізнатись, чому?!</h3>
        

{% endblock %}