{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}



{% block content %}

<div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <h3 class="text-center">Профіль</h3>
        <p>Ім'я користувача: {{ user.username }}</p>
        <p>Ім'я: {{ user.first_name }}</p>
        <p>Прізвище: {{ user.last_name }}</p>
        <p>Електронна пошта: {{ user.email }}</p>
        <p>Дата реєстрації: {{ user.date_joined }}</p>
        <p>Дата останнього входу: {{ user.last_login }}</p>


</div>
{% endblock %}