{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}



{% block content %}

<div class="mt-4 rounded-3 bg-body-tertiary p-4">
  <h3 class="text-center">Профіль</h3>
  <hr class="my-4">  
    <div class="row g-4">
        <div class="col-12 col-md-4">
          <img src="{{profile.get_avatar}}" class="img-fluid rounded-circle mx-auto d-block" alt="...">
          {% if not another_user %}         
          <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">
              Редагувати профіль
            </button>
          </div>
          {% else %}
          <div class="d-flex justify-content-center mt-2">
            {% if not is_following %}
            <a href="{% url 'members:follow' user_profile.username %}" class="btn btn-primary">Підписатися</a>
            {% else %}
            <a href="{% url 'members:follow' user_profile.username %}" class="btn btn-danger">Відписатися</a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="col-8">
          <p>Ім'я користувача: {{ user_profile.username }}</p>
          <p>Ім'я: {{ user_profile.first_name }}</p>
          <p>Прізвище: {{ user_profile.last_name }}</p>
          <p>Електронна пошта: {{ user_profile.email }}</p>
          <p>Дата реєстрації: {{ user_profile.date_joined }}</p>
          <p>Дата останнього входу: {{ user_profile.last_login }}</p>
          <p>Біо: {{ profile.bio|safe }}</p>
          <p>Дата народження: {{ profile.birth_date }}</p>
          <p>Місце проживання: {{ profile.location }}</p>
          
        </div>
        {% if profile.get_followers %}
        <div class="col-12">
          <hr class="my-4">
          <h3 class="text-center">Підписки</h3>
          <div class="row g-4">
            <ul class="list-unstyled">
              {% for follower in profile.get_followers %}
              <li><div class="d-flex align-items-left">
                <img src="{{follower.profile.get_avatar}}" class="rounded-circle" alt="..." style="width: 30px; height: 30px;">
                <a href="{% url 'members:profile' follower.username %}" class="text-decoration-none text-primary hover-underline">
                    <small class="ms-3">@{{ follower.username }}</small>
                </a>
            </div>
          </li>
              {% endfor %}  
            </ul>
           
          </div>
        </div>
        {% endif %}
        {% if profile.get_followers %}
        <div class="col-12">
          <hr class="my-4">
          <h3 class="text-center">Підписники</h3>
          <div class="row g-4">
            <ul class="list-unstyled">
            {% for follower in profile.get_following %}
            <li><div class="d-flex align-items-left">
              <img src="{{follower.get_avatar}}" class="rounded-circle" alt="..." style="width: 30px; height: 30px;">
              <a href="{% url 'members:profile' follower.user.username %}" class="text-decoration-none text-primary hover-underline">
                  <small class="ms-3">@{{ follower.user.username }}</small>
              </a>
          </div>
        </li>
            {% endfor %}  
          </ul>
          </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="mt-4 rounded-3 bg-body-tertiary p-4">
        <h3 class="text-center">Пости</h3>
        {% if not another_user %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Створити пост
             </button>
        <hr class="my-4">
        {% include 'blog/_include_blocks/_posts_show.html' with posts=user_profile.posts.all edit=True %}
        {% else %}
        <hr class="my-4">
        {% include 'blog/_include_blocks/_posts_show.html' with posts=user_profile.posts.all edit=False %}
        {% endif %} 
    </div>


{% if not another_user %}

      <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editProfileModalLabel">Редагувати профіль</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'members:profile_update' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form}}
                {{ profile_form }}
                <button type="submit" class="btn btn-primary mt-4">Зберегти</button>
              </form>
          </div>
        </div>
      </div>
{% endif %}



<script>
    
  function like(post_id){
      fetch('{% url "blog:like" 0 %}'.replace('0', post_id))
      .then(response => response.json())
      .then(data => {
          document.getElementById('btn_like_' + post_id).innerText = `👍 ${data.likes}`;
      })
  }

  {% for post in user_profile.posts.all %}
      document.getElementById('btn_like_{{post.id}}').addEventListener('click', function(){
          like({{post.id}});
      });
  {% endfor %}

  function dislike(post_id){
        fetch('{% url "blog:dislike" 0 %}'.replace('0', post_id))
        .then(response => response.json())
        .then(data => {
            document.getElementById('btn_dislike_' + post_id).innerText = `👎 ${data.dislikes}`;
        })
    }

    {% for post in user_profile.posts.all %}
        document.getElementById('btn_dislike_{{post.id}}').addEventListener('click', function(){
            dislike({{post.id}});
        });
    {% endfor %}

</script>


{% endblock %}