<a href="{% url 'blog:post' post.id %}" class="text-decoration-none text-white">
    <img src="{{post.get_thumbnail}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <small class="text-muted">{{post.created_at|timesince}}</small>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-left">
                <img src="{{post.author.profile.get_avatar}}" class="rounded-circle" alt="..." style="width: 30px; height: 30px;">
                <a href="{% url 'members:profile' post.author.username %}" class="text-decoration-none text-primary hover-underline">
                    <small class="ms-3">@{{post.author.username}}</small>
                </a>
            </div>
            <div>
                <span class="badge bg-secondary">{{post.category}}</span>
            </div>
        </div>
    </div>
</a>
    <div class="card-footer">
        <div class="d-flex justify-content-between text-center">
            <h5><span class="badge ">👁️ {{post.views}}</span></h5>
            <h5><span class="badge ">🗨️ {{post.comments.count}}</span></h5>
            <h5><span class="btn" id="btn_like_{{post.id}}" style="cursor: pointer;">👍 {{post.likes.count}}</span></h5>
            <h5><span class="btn" id="btn_dislike_{{post.id}}" style="cursor: pointer;">👎 {{post.dislikes.count}}</span></h5>
        </div>
    </div>





    